In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data.csv')

In [4]:
df.head()

       fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0  98.082421         1    1          1           0              0
1  99.016293         1   73          1           1              0
2  99.584137         0   17          1           0              1
3  99.348329         1   13          0           0              0
4  99.891085         1   45          1          -1              1

In [5]:
df.tail()

          fever  bodyPain  age  runnyNose  diffBreath  infectionProb
994   99.086016         0   28          1           1              1
995   98.801748         1   53          1           0              0
996   99.296458         1   99          1          -1              1
997   98.668712         1   67          0           1              0
998  101.907006         0   79          0           1              1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          999 non-null    float64
 1   bodyPain       999 non-null    int64
 2   age            999 non-null    int64
 3   runnyNose      999 non-null    int64
 4   diffBreath     999 non-null    int64
 5   infectionProb  999 non-null    int64
dtypes: float64(1), int64(5)
memory usage: 47.0 KB

In [20]:
df['diffBreath'].value_counts

<bound method IndexOpsMixin.value_counts of 0      0
1      1
2      0
3      0
4     -1
      ..
994    1
995    0
996   -1
997    1
998    1
Name: diffBreath, Length: 999, dtype: int64>

In [21]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000
mean,99.980702,0.534535,50.533534,0.467467,0.054054,0.496496
std,1.184732,0.499056,29.342676,0.499190,0.820016,0.500238
min,98.000683,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.939261,0.000000,25.000000,0.000000,-1.000000,0.000000
50%,99.963620,1.000000,49.000000,0.000000,0.000000,0.000000
75%,101.007542,1.000000,77.000000,1.000000,1.000000,1.000000
max,101.999762,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Step Splitting

In [22]:
import numpy as np

In [40]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data)* ratio )
    test_indeces = shuffled[:test_set_size]
    train_indeces = shuffled[test_set_size:]
    return data.iloc[train_indeces], data.iloc[test_indeces]

In [41]:
train ,test =  data_split(df, 0.2)

In [42]:
train

          fever  bodyPain  age  runnyNose  diffBreath  infectionProb
423  101.373379         0   63          0          -1              0
778  100.616934         1   26          0           0              1
286  100.106907         1   53          0           1              0
165  101.117912         0   92          0           1              1
960  100.296806         1   91          0           1              1
..          ...       ...  ...        ...         ...            ...
106  100.742778         0   11          1           1              0
270   98.773541         1   79          1          -1              1
860   98.845549         1   65          0           1              1
435  101.772377         1   39          1           1              0
102   99.380150         1   58          1          -1              1

[800 rows x 6 columns]

In [43]:
test

          fever  bodyPain  age  runnyNose  diffBreath  infectionProb
453  100.865635         1   26          0           0              1
793  101.687945         0   94          0           0              0
209  100.188243         0   29          0          -1              1
309   98.415919         0   37          0          -1              0
740   98.763930         0   31          0           1              1
..          ...       ...  ...        ...         ...            ...
346   99.209724         1   96          0          -1              1
78   101.502415         0   96          1           1              1
29    99.109276         0   38          0           1              0
277  101.640665         0   50          1          -1              0
261   98.632161         0   68          0           1              1

[199 rows x 6 columns]

In [52]:
X_train = train[['fever' , 'bodyPain' , 'age' , 'runnyNose' , 'diffBreath' ]].to_numpy()
X_test = test[['fever' , 'bodyPain' , 'age' , 'runnyNose' , 'diffBreath' ]].to_numpy()

In [49]:
X_train

array([[101.3733791 ,   0.        ,  63.        ,   0.        ,
         -1.        ],
       [100.6169341 ,   1.        ,  26.        ,   0.        ,
          0.        ],
       [100.1069067 ,   1.        ,  53.        ,   0.        ,
          1.        ],
       ...,
       [ 98.84554937,   1.        ,  65.        ,   0.        ,
          1.        ],
       [101.7723769 ,   1.        ,  39.        ,   1.        ,
          1.        ],
       [ 99.3801501 ,   1.        ,  58.        ,   1.        ,
         -1.        ]])

In [46]:
X_train

array([[101.3733791 ,   0.        ,  63.        ,   0.        ,
         -1.        ],
       [100.6169341 ,   1.        ,  26.        ,   0.        ,
          0.        ],
       [100.1069067 ,   1.        ,  53.        ,   0.        ,
          1.        ],
       ...,
       [ 98.84554937,   1.        ,  65.        ,   0.        ,
          1.        ],
       [101.7723769 ,   1.        ,  39.        ,   1.        ,
          1.        ],
       [ 99.3801501 ,   1.        ,  58.        ,   1.        ,
         -1.        ]])

In [65]:
Y_train = train[['infectionProb' ]].to_numpy().reshape(800,)
Y_test = test[['infectionProb' ]].to_numpy().reshape(199,)

In [61]:
Y_train

array([[0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
        1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1,
        1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
        1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1,
        1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0,
        0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
        0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
        0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0,
        1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1,
        1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0,
        1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0,
        1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0,
        1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0,
        0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0,
        1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1,
        1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0,
        1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0,
        1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1,
        0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0,
        0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
        1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1,
        1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1,
        0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
        0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1,
        0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1,
        0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0,
        0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0,
        0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1,
        0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1,
        1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0,
        1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1,
        0, 0, 0, 0, 1, 1, 0, 1]], dtype=int64)

In [63]:
 from sklearn.linear_model import LogisticRegression

In [69]:
clf = LogisticRegression()
clf.fit(X_train,Y_train)

LogisticRegression()

In [77]:
inputFeatures = [100,1,26,1,0]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [78]:
infProb

0.48123269096733673